<div >
<p style=" position:relative; text-align: -webkit-center;" >
  <mat-card class="card">
    <mat-card-header >
      <div style="width: 100%;">
      <mat-card-title>Parámetros</mat-card-title>
    </div>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  
  </mat-card>

</p>
</div>
