.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: darkslategrey;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .example-container {
    height: 100%;
    background-image: url("./assets/img/mountain.jpg");
    background-repeat: no-repeat;
    background-size: auto;
  }
  
  .example-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sidenav {
    padding: 20px;
    width: 20%;
    background-color: transparent;
  }

  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
  }
  
  .pokeIcon {
    background: url('./assets/img/pokeBag.png');
    width: 25%;
    background-repeat: no-repeat;
    background-size: auto;
    /* Other styles here */
}

.ProjectTitle{
  margin-left: 1%;
  color: black;
  font-size: xx-large;
}