

<mat-drawer-container class="example-container" style="position: sticky;">

  <mat-toolbar style="background-color: transparent;">
    <button  type="button" mat-button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="    background-color: white; opacity: 0.5;">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="ProjectTitle">Archive Viewer</span>
    <span class="example-spacer"></span>
  </mat-toolbar>


  <mat-drawer #drawer class="sidenav" mode="side">
    <div style="height: 10%;display: flex;">
      <p class='pokeIcon'></p>
      <p class="full-width" style="margin-top: 4%;font-size: x-large;margin-left: 17%;"><b>Menú</b></p>
    </div>
    <hr>
    <nav>
      <mat-nav-list>
        <mat-list-item routerLink="/FrecuencyTableComponent" routerLinkActive="active">
        <mat-icon mat-list-icon>calendar_today</mat-icon>
        <span class="full-width" >Calendario de Archives</span>
      </mat-list-item>
        <mat-list-item routerLink="/ArchivesTablesComponent" routerLinkActive="active">
        <mat-icon mat-list-icon>table_chart</mat-icon>
        <span class="full-width" >Tablas y datos</span>
      </mat-list-item>
     </mat-nav-list>
      <ul>
        <!--<li><a routerLink="/ParametersComponent" routerLinkActive="active">First Component</a></li>-->
       <!--<li><a routerLink="/FrecuencyTableComponent" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/ArchivesTablesComponent" routerLinkActive="active">Archives por Fecha</a></li>-->
      </ul>
    </nav>
  </mat-drawer>
  <router-outlet class="centered"></router-outlet>
  <!--<app-parameters style="position:relative; top:50px;"> </app-parameters>
  <app-frecuency-table style="position:relative; top:100px;"> </app-frecuency-table>-->
</mat-drawer-container>
